<div class="container-fluid">
  <div class="row">
    <div class="well employee-blocks">
      <h3><strong>Pending Confirmations</strong></h3>
      <%= render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
    </div>
  </div>
  <div class="col-md-5 column well employee-blocks">
    asdf
  </div>
</div>
