.pending-homepage {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: #E3E3E3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 1.7em;
}

.homepage-block {
  margin: 12px 42px 12px 42px;
  padding: 1.3em;
  background-color: #1D3C91;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pending-details {
  font-weight: 900;
}
